<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Dear <em th:text="${recipientName}" ,/></p></br>
<p> Thank you for registering with <b>Hinfinity Group</b>. We're pleased to let you know that your account has been
    approved and is now active. </p></br>

<p>You can now access our platform and start exploring all the features we have to offer. If you haven't already, please
    log in to your account using the credentials you provided during registration.</p><br>
<p>We're excited to have you as part of our community and look forward to serving you. If you have any questions or need
    any assistance, don't hesitate to contact us at <b>smartcropp@gmail.com</b>.</p><br><br>
<p>Thank you for choosing <b>Hinfinity Group</b>.</p>
<p>
    Best Regards, <br/>
    <em>The Hinfinity Group Team</em>
</p>
</body>
</html>