<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title th:remove="all">Template for HTML email with inline image</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Dear <em th:text="${recipientName}" ,/></p></br>
<p> Thank you for registering with <b>Hinfinity Group</b>. We are delighted to have you as a member of our community!</p></br>
<p> This email serves as an acknowledgement that we have received your registration request. We appreciate your interest in our products/services and we assure you that we will do everything possible to provide you with an outstanding experience.</p></br></br>
<p>As a registered member, you will receive regular updates about our latest products, services, and promotions. You can also access your account information and update your preferences through our website.</p><br>
<p>If you have any questions or concerns, please do not hesitate to contact us at [Contact Information]. We are always here to assist you.</p><br>
<p>Once again, thank you for choosing to be a part of our community. We look forward to serving you.</p>
<p>
 Best Regards, <br/>
  <em>The Hinfinity Group Team</em>
</p>
</body>
</html>