<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SmartCorp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
  
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"> 

 
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/css/all.min.css}" rel="stylesheet">
  <link th:href="@{/css/aos.css}" rel="stylesheet">
  <link th:href="@{/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/css/swiper-bundle.min.css}" rel="stylesheet">

 
  <link th:href="@{/css/main.css}" rel="stylesheet">
<script src="https://kit.fontawesome.com/b3be0b1cb8.js" crossorigin="anonymous"></script>
</head>
<style>
  label.error{bottom: -4px;}
  .form-input{position: relative;}
</style>
<body>

<section class="login-page" style="padding: 20px">
  <div class="register-logo">
     <img src="assets/img/logo.png" th:src="@{/img/logo.png}" alt="SmartCorp">
     <h3>Generate Password</h3>
       <p style="padding-top: 30px;">Return to<a href="login.html" th:href="@{/}"> Login</a> </p>
  </div>



   <div class="login-right" style="width: 100%;height: auto;margin-top: 40px;">
    <div class="login-form">
      <h2 style="margin-bottom: 10px;">Generate a New Password</h2>
      <p style="font-size: 16px;
        line-height: 150%;
        color: #4f4f4f;">Please Choose a new Password</p>
      <form id="generate-password" th:action="@{/confirmEmail/__${token}__}" th:object="${emailTokenModel}" method="POST">
        <div th:if="${passwordUpdated !=null && passwordUpdated}">
            <div class="alert alert-success" role="alert">Password updated successfully, please login to verify!!</div>
            <a href="login.html" th:href="@{/}">Back to Login</a>
        </div>
        <div class="form-input">
        <label>New password</label>
        <input type="password" name="password" id="password" th:field="*{password}">
      </div>
      <div class="form-input">
        <label>Re-enter password</label>
        <input type="password" name="confirm_password">
       </div>
        <button type="submit" class="reset-password">Submit</button>
      </form>

      
    </div>
    <img th:src="@{/img/generate-password.jpg}" alt="SmartCorp">
      </div>
<!--    <div class="forgot-msg">-->
<!--      <h2>Your New Password has Been Set Successfully</h2>-->
<!--      <a href="login.html">Back to Login</a>-->
<!--      -->
<!--    </div>-->

</section>

 <!--  <div id="preloader"></div> -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/aos.js}"></script>
  <script th:src="@{/js/glightbox.min.js}"></script>
  <script th:src="@{/js/isotope.pkgd.min.js}"></script>
  <script th:src="@{/js/swiper-bundle.min.js}"></script>
  <script th:src="@{/js/purecounter_vanilla.js}"></script>

  
  <script th:src="@{/js/main.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  <script>
  // $('.reset-password').click(function(){
  //   $('.login-right').hide();
  //    $('.forgot-msg').show();
    
    
  // })
</script>
<script>
  $(function() {
   $('#generate-password').validate({
    rules:{
      password:{
        required:true,
        pwcheck:true,
        minlength:8,

      },
      
   confirm_password:{
      required:true,
      equalTo: "#password"

    }
     },
    messages:{
      password: {
                pwcheck: "please enter one digit, one special characters and one uppercase."
            },

    }
});
          
$.validator.addMethod("pwcheck", function(value) {
   return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
       && /[a-z]/.test(value) // has a lowercase letter
       && /[A-Z]/.test(value) // has a lowercase letter
       && /\d/.test(value) // has a digit
       && /[@#$%&]/.test(value) // has a lowercase letter
       
});

  });
   
</script>


</body>

</html>