<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SmartCorp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
  
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"> 

 
  <link href="assets/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="assets/css/bootstrap-icons.css" th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
  <link href="assets/css/all.min.css" th:href="@{/css/all.min.css}" rel="stylesheet">
  <link href="assets/css/aos.css" th:href="@{/css/aos.css}" rel="stylesheet">
  <link href="assets/css/glightbox.min.css" th:href="@{/css/glightbox.min.css}"  rel="stylesheet">
  <link href="assets/css/swiper-bundle.min.css" th:href="@{/css/swiper-bundle.min.css}" rel="stylesheet">

 
  <link href="assets/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
<script src="https://kit.fontawesome.com/383e09e4e5.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/index.html" th:href="@{/}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" th:src="@{/img/logo.png}" alt="SmartCorp">
       <!--  <h1>UpConstruction<span>.</span></h1> -->
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" th:href="@{/}" class="active">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Schemes</a></li>
         
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
          <li><a href="#">Contact</a></li>
          <li><a href="#" th:href="@{/dashboard/user/all}">Dashboard</a></li>
        </ul>
      </nav><!-- .navbar -->
      <div class="login-link" th:if="${isAdmin!=null && isAdmin}">
        <a href="login.html" th:href="@{/register}">Register</a>
      </div>
      <div class="login-link" th:if="${#request.userPrincipal != null }">
        <a href="login.html" th:href="@{/logout}">Logout</a>
      </div>
      <div class="login-link" th:if="${#request.userPrincipal == null }">
        <a href="login.html" th:href="@{/login}">Login/Register</a>
      </div>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">


    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(/img/1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(/img/2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(/img/3.jpg)"></div>
      

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

<section class="counter" id="counter">
  <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>SmartCorp Cultivation of the year 2022-2023 </h2>
          <p>We use the latest technology to help farmers, maximize crop yield by collecting data and providing instant insights to help them better manage their fields. </p>
        </div>
         <div class="row gy-4">
            <div class="col-md-3">
              <div class="custom-counter">
                <i class="fas fa-users"></i>
                <h4>0</h4>
                <p>No. of Farmers Registered</p>
              </div>
            </div>
         
        
            <div class="col-md-3">
              <div class="custom-counter">
               <i class="fa-solid fa-user-tie"></i>
                <h4>0</h4>
                <p>No. of Nursery's Registered</p>
              </div>
            </div>
         
            <div class="col-md-3">
              <div class="custom-counter">
                <i class="fa-solid fa-mountain-sun"></i>
                <h4>0</h4>
                <p>No. of Acer's Covered</p>
              </div>
            </div>
         
            <div class="col-md-3">
              <div class="custom-counter">
                <i class="fa-solid fa-truck-ramp-box"></i>
                <h4>0</h4>
                <p>No. of Delivery</p>
              </div>
            </div>
         </div>
  </div>
  
</section>


    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4 for-mb-image">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h3>SmartCorp a gift of nature </h3>
              SmartCorp (Elaeis guineensis Jacq.) is the crop of the present and future vegetable oil economy of world as we India.A nature of West Africa and popularly known as African SmartCorp or Red SmartCorp, it is known to be the highest edible oil yielding perennial crop.<br><br>

SmartCorp is derived from fleshy mesocarp of the fruit, which contains about 45-55% of oil and is rich in antioxidants, one of which is vitamin E, which is critical for keeping immune system healthy. the Palm Kernel Oil, obtained from the kernel of stony seed, is a potential source of lauric oil. Both these oils have edible value and are in great demand. 
             
            </div>
          </div>

          <div class="col-lg-5" data-aos="fade">

            <img src="assets/img/about-1.jpg" th:src="@{/img/about-1.jpg}" style="border-radius: 15px;max-width: 100%;">
          </div>

        </div>

      </div>
    </section><!-- End Get Started Section -->

     <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started">
      <div class="container">

        <div class="row justify-content-between gy-4">
           <div class="col-lg-5" data-aos="fade">

            <img src="assets/img/why.jpg" style="border-radius: 15px;max-width: 100%;">
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h3>Why SmartCorp? </h3>
              SmartCorp has good consumer acceptance as cooking medium because of its price advantage. It is a good raw material for manufacturing oleo chemicals used in making soaps, candles, plasticizes etc. It has a variety of uses,ranging from edible oil, cosmetics, pharmaceuticals to bio-fuel and bio-lubricant.<br><br>

SmartCorp is a major edible oil produced in the world and accounts for 35% (75.50 MMT) of world edible oil production (2021-22) and is used for both food (72%) & non-food (28%) purposes. A substantial portion of country's requirement of edible oil is met through import of SmartCorpfrom Indonesia and Malaysia. More than 70% of our total vegetable oil import constitutes SmartCorp. 
             
            </div>
          </div>

         

        </div>

      </div>
    </section><!-- End Get Started Section -->




    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4 for-mb-image">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h3>SmartCorp in Telangana - the way forward  </h3>
              SmartCorp Area expansion is one of the Flagship programmes of the State. With the increased irrigation potential and considering the need for crop diversification from paddy to the demanded crops, the Telangana government is contemplating to take up SmartCorp cultivation in 20 lakh acres in mission mode to meet the edible oil demand of the state and to contribute considerably to the nation. 
             
            </div>
          </div>

          <div class="col-lg-5" data-aos="fade">

            <img src="assets/img/way.jpg" style="border-radius: 15px;max-width: 100%;">
          </div>

        </div>

      </div>
    </section><!-- End Get Started Section -->

  

  


   
    

  

  

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
                     <img src="assets/img/logo.png" alt="SmartCorp" style="max-width: 170px;margin-bottom: 15px;">

              <p>The SmartCrops Company is a social<br> enterprise that connects local farmers<br> in Telangana, Andhra Pradesh with palm <br>fruit seeds.  <br><br>
                
              </p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Schemes</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>


          

          <div class="col-lg-4 col-md-4">
            <div class="footer-info">
                 <h4>Address</h4>   

              <p>Plot No: 26, Greenland Colony,<br> Madhava Reddy Colony, <br>Gachibowli, Hyderabad, Telangana 500032 <br><br>
                <strong>Phone:</strong> +91 12345 67890<br>
                <strong>Email:</strong> support@smartcrop.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal  position-relative">
      <div class="container">
          <div style="display: flex;
flex-wrap: wrap;
justify-content: space-between;border-top: 1px solid rgba(255, 255, 255, 0.15);">
          <div>
        <div class="copyright">
          &copy; Copyright <strong><span>SmartCorp</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="#">Hinfinity Group</a>
        </div>
        </div>
        <div>
            <p style="margin-top: 30px;
margin-bottom: 0px;">Powered By <img src="assets/img/logo-transparent.png" style="width: 50px;margin-left: 5px;" ></p>
        </div>
        </div>
      </div>
    </div>

  </footer>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!--  <div id="preloader"></div> -->

  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="assets/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script src="assets/js/aos.js" th:src="@{/js/aos.js}"></script>
  <script src="assets/js/glightbox.min.js" th:src="@{/js/glightbox.min.js}"></script>
  <script src="assets/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
  <script src="assets/js/swiper-bundle.min.js" th:src="@{/js/swiper-bundle.min.js}"></script>
  <script src="assets/js/purecounter_vanilla.js" th:src="@{/js/purecounter_vanilla.js}"></script>

  
  <script src="assets/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>