<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SmartCrop</title>
  <link href="/css/bootstrap.min.css" th:hreaf="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="/css/bootstrap-icons.css" th:hreaf="@{/css/bootstrap.icons.css}" rel="stylesheet">
</head>
<body>

<form id="re-generate-password" th:action="@{/confirmEmail/re-generate-password}" th:object="${regenTokenModel}" method="POST">
  <div th:if="${invalidToken !=null && invalidToken}">
    <div class="alert alert-danger" role="alert">Token is invalid, please enter your valid email to re-generate password link!!</div>
  </div>
  <div th:if="${resendEmailStatus !=null && resendEmailStatus}">
    <div class="alert alert-success" role="alert">Password re-generate link sent successfully, please check your email!!</div>
    <a href="index.html" th:href="@{/}">Back to Home</a>
  </div>
  <div th:if="${resendEmailStatus !=null && !resendEmailStatus}">
    <div class="alert alert-danger" role="alert">Error while sending Password re-generate link, please contact Admin!! <b>smartcropp@gmail.com</b></div>
  </div>

  <div th:if="${isValidUser !=null && !isValidUser}">
    <div class="alert alert-danger" role="alert">You are not a valid user, please contact Admin!! <b>smartcropp@gmail.com</b></div>
  </div>
  <div class="form-input">
    <label>Enter your email address registered with us!!</label>
    <input type="email" name="email" id="email" th:field="*{email}">
      <span th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" />
  </div>
  <button th:if="${showPassRegenSubmit}" type="submit" class="reset-password">Submit</button>
</form>

</body>
</html>