<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register - SmartCorp</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="assets/css/custom-style.css" th:href="@{/css/custom-style.css}">
    <script src="https://kit.fontawesome.com/383e09e4e5.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="register-logo">
    <img src="assets/img/logo.png" th:src="@{/img/logo.png}" alt="SmartCorp">
    <h2> Create An account</h2>
<!--    <p>Already have an account? <a href="login.html" th:href="@{/login.html}"> Login</a></p>-->
</div>
<div class="main">
    <!-- progressbar -->
    <ul id="progress_header">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <form id="multistep_form" th:action="@{/register}" th:object="${registrationModel}" method="POST">

        <div th:if="${userAdded == null}">
        <!-- Step 01 -->
        <div class="multistep-box">
            <div class="title-box">
                <h2>Create An account</h2>
            </div>
            <p>
                <label class="form-input ">
                    <label>title</label>
                    <select id="title" th:field="*{title}">
                        <option selected="" value="">Select</option>
                        <option value="Mr">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Dr">Dr</option>
                        <option value="=Shree">Shree</option>
                    </select>
                    <span id="error-title" class="error"></span>
                </label>
            </p>
            <p>
                <label class="form-input">
                    <label>First Name</label>
                    <input type="text" id="fname" name="fname" th:field="*{firstName}">
                    <span id="error-fname" class="error"></span>
                    <span th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}" />
                </label>

            </p>

            <p>
                <label class="form-input ">
                    <label>Middle Name</label>
                    <input type="text" id="mname" name="mname" th:field="*{middleName}">
                </label>
            </p>
            <p>
                <label class="form-input ">
                    <label>Last Name</label>
                    <input type="text" id="lname" name="lname" th:field="*{lastName}">
                    <span id="error-lname" class="error"></span>
                    <span th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}" />
                </label>

            </p>

            <p>
                <label class="form-input w-50">
                    <label>Date of Birth</label>
                    <input type="text" id="bdate" name="bdate" th:field="*{dateOfBirth}">
                    <span id="error-bdate" class="error"></span>
                </label>
                <label class="form-input w-49">
                    <label>Gender</label>
                    <select id="gender" required th:field="*{gender}">
                        <option value="" selected="">Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Prefer Not to Say">Prefer Not to Say</option>
                    </select>
                    <span id="error-gender" class="error"></span>
                </label>

            </p>

            <p class="nxt-prev-button">
                <button type="button" name="next" class="fs_next_btn action-button updateUsername" th:onclick="updateUserNameText()">Next <i
                        class="fa-solid fa-chevron-right"></i></button>
            </p>
            <img class="form-image" src="assets/img/Personal.png" th:src="@{/img/Personal.png}" alt="SmartCorp">

        </div>
        <!-- Step 02 -->
        <div class="multistep-box">
            <div class="title-box">
                <h3>Hello <span class="usernameTextSpan"></span>, great to have you here!</h3>
                <h2>fill your personal detail</h2>
            </div>
            <p>
                <label class="form-input ">
                    <label>Mobile Number</label>
                    <input type="text" name="phone" id="phone" th:field="*{phoneNumber}">
                    <span id="error-phone"></span>
                </label>
            </p>
            <p>
                <label class="form-input">
                    <label>Email ID</label>
                    <input type="text" name="email" id="email" th:field="*{email}">
                    <span id="error-email"></span>
                </label>
            </p>


            <p class="nxt-prev-button">
                <button type="button" name="previous" class="previous action-button updateUsername" th:onclick="updateUserNameText()"><i
                        class="fa-solid fa-chevron-left"></i>Back
                </button>
                <button type="button" name="next" class="ss_next_btn action-button updateUsername" th:onclick="updateUserNameText()">Next <i
                        class="fa-solid fa-chevron-right"></i></button>
            </p>
            <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
        </div>

        <!-- Step 03 -->

        <div class="multistep-box">
            <div class="title-box">
                <h3>Hey Mr <span class="usernameTextSpan"></span>, great to have you here!</h3>
                <h2>where are you located?</h2>
            </div>

            <p>
                <label class="form-input">
                    <label>Country</label>
                    <select id="country" name="country" class="select2" required th:field="*{country}">
                        <option value="" selected="">Select</option>
                        <option value="India">India</option>
                    </select>
                    <span id="error-country" class="error"></span>
                </label>
            </p>
            <p>
                <label class="form-input state">
                    <label>State</label>
                    <select class="select2" id="state" name="state" th:field="*{state}"
                            onchange="onCountryStateChanged()">
                        <option selected value="">Select</option>
                        <option th:each="stateObj : ${stateDistrictList}"
                                th:value="${stateObj.state}" th:text="${stateObj.state}">
                        </option>
                    </select>
                    <span id="error-state" class="error"></span>
                </label>
            </p>
            <p>
                <label class="form-input district">
                    <label>City</label>
                    <select class="select2" th:field="*{district}" id="district" required>
                    </select>
                    <span id="error-district" class="error"></span>
                </label>
            </p>
           <!-- <p>
                <label class="form-input city">
                    <label>City</label>
                    <select class="select2" id="city" required th:field="*{city}">
                        <option selected value="">Select</option>
                        <option value="Hyderbad">Hyderabad</option>
                        <option value="Secunderabad">Secundrabad</option>
                        <option value="Suryapet">Suryapet</option>
                        <option value="Warangal">Warangal</option>
                        <option value="Khammam">Khammam</option>
                    </select>
                    <span id="error-city" class="error"></span>
                </label>

            </p>
            <p>
                <label class="form-input zip">
                    <label>Zip Code</label>
                    <select class="select2" id="zip" required th:field="*{zipCode}">
                        <option selected value="">Select</option>
                        <option value="500081">500081</option>
                        <option value="500082">500082</option>
                        <option value="500083">500083</option>
                        <option value="500084">500084</option>
                        <option value="500085">500085</option>
                    </select>
                    <span id="error-zip" class="error"></span>
                </label>
            </p>-->

            <p class="nxt-prev-button">
                <button type="button" name="previous" class="previous action-button updateUsername" th:onclick="updateUserNameText()"><i
                        class="fa-solid fa-chevron-left"></i>Back
                </button>
                <button type="button" name="next" class="ts_next_btn  action-button updateUsername" th:onclick="updateUserNameText()">Next <i
                        class="fa-solid fa-chevron-right"></i></button>
            </p>
            <img class="form-image" src="assets/img/Address.png" th:src="@{/img/Address.png}" alt="SmartCorp">
        </div>


        <!-- Step 04 -->

        <div class="multistep-box">
            <div class="title-box">
                <h3>Hey Mr <span class="usernameTextSpan"></span>, great to have you here!</h3>
                <h2>what is your role?</h2>
            </div>
            <p>
                <label class="form-input">
                    <label>Register As</label>
                    <label class="custom-radio">
                        <input type="radio" name="role" value="Employee" id="role_emp" th:field="*{role}">
                        <label>Employee</label>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="role" value="Farmer" id="role_farmer" th:field="*{role}">
                        <label>Farmer</label>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="role" value="Nursery" id="role_nursery" th:field="*{role}">
                        <label>Nursery</label>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="role" value="Other" id="role_other" th:field="*{role}">
                        <label>Other</label>
                    </label>
                </label>
                <span id="error-register_as"></span>
            </p>
            <p class="other-input">
                <label class="form-input ">
                    <input type="text" placeholder="Please specify your role.">
                </label>
            </p>

            <p class="nxt-prev-button">
                <button type="button" name="previous" class="previous action-button updateUsername" th:onclick="updateUserNameText()"><i
                        class="fa-solid fa-chevron-left"></i>Back
                </button>
                <button name="next" class="ts1_next_btn  action-button" type="submit">Next <i
                        class="fa-solid fa-chevron-right"></i></button>
            </p>
            <img class="form-image" src="assets/img/Role.png" th:src="@{/img/Role.png}" alt="SmartCorp">
        </div>
        </div>

        <!-- Step 05 -->
        <div class="multistep-box"  th:if="${userAdded != null && userAdded}">
            <div class="title-box" style="margin-bottom: 15px;">
                <h3>We’ve created your account!</h3>
                <h2>Please check your inbox</h2>
            </div>
            <p class="last-step">
                <span>We’ve sent you an activation email with a link to verify your account.</span>
                <span class="user-mail">projects@hinfinitygroup.com</span>
            <h4 class="last-box">
                <label>Didn’t receive it?</label>
                <label>Please check your spam mail or <a href="#"> resend email</a></label>
            </h4>
            </p>

            <img class="form-image" src="assets/img/successs.png" th:src="@{/img/successs.png}"  alt="SmartCorp">
        </div>
    </form>
    <h1>You are successfully logged in</h1>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.0/jquery.easing.js"
        type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="assets/js/form.js" th:src="@{/js/form.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        $('.select2').select2();

        checkIfEmployeeRegistrationComplete();
    });

checkIfEmployeeRegistrationComplete = function() {
    let employeeAdded = "[[${employeeAdded}]]";
    if(employeeAdded && employeeAdded !== "null") {
        console.log("employee added successfully");
         $('#employeeAdded-draft').modal('show');
      }
 };
 onCountryStateChanged = function() {
      let stateSelected = $("#state").val();
      let stateDistrictList = /*[[${stateDistrictList}]]*/ {};
      $("#district").empty();
      let firstOption = "<option value='0' selected=' ' disabled=''>--Select--</option>";
      $("#district").append(firstOption);
      $.each(stateDistrictList,(i, item)=>{
        if(item.state === stateSelected) {
        let distList = item.districts;
        $.each(distList,(j,district) => {
          let option = "<option value = " + district + ">" + district +  "</option>";
            $("#district").append(option);
        });
      }
     });
 };

 updateUserNameText = function() {
    let firstName = $("#fname").val();
    let lastName = $("#lname").val();
    $(".usernameTextSpan").text(firstName + " " + lastName);
 };




  $('#multistep_form').validate({
    rules:{
      name:{
          required:true
      },
      gender:"required",
      email:{
        required:true,
        email:true
      },
      contact:{
        required:true,
        minlength:10,
        maxlength:10,
        digits: true,
      },
      zipCode:{
        required:true

      },

      state:"required",
      district:"required",
      city:"required",
      country:"required",

      designation:"required"

    },
    messages:{

    }
  });




</script>

</body>
</html>

