<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register - SmartCorp</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.tutorialjinni.com/intl-tel-input/17.0.19/css/intlTelInput.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/custom-style.css" th:href="@{/css/custom-style.css}">
    <script src="https://kit.fontawesome.com/383e09e4e5.js" crossorigin="anonymous"></script>
    <style>
	#error-zip, #error-district {
  position: static;
}
.form-control.m-input {
  margin-top: 8px;
}
.rowAdder {
  background: gray;
  width: 18px;
  height: 18px;
  display: block;
  text-align: center;
  border-radius: 20px;
  padding: 4px;
  color: #fff;
}






    </style>
</head>
<body>
<div class="register-logo">
    <img src="assets/img/logo.png" th:src="@{/img/logo.png}" alt="SmartCorp">
    <h2> Create your account</h2>
    <p>Already have an account? <a th:href="@{/}"> Login</a></p>
</div>
<div class="main">
    <!-- progressbar -->
    <!-- <ul id="progress_header">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul> -->
    <form id="multistep_form" th:action="@{/register}" th:object="${registrationModel}" method="POST"
          enctype="multipart/form-data">
        <div th:if="${userAdded == null}">

            <!-- Step 01 -->
            <div class="multistep-box">
                <div class="title-box">
                    <h2>Create your account</h2>
                </div>
                <p>
                    <label class="form-input ">
                        <label>title<span class="astrick">*</span></label>
                        <select id="title" th:field="*{title}">
                            <option selected="" value="">Select</option>
                            <option value="Mr">Mr</option>
                            <option value="Ms">Ms</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Dr">Dr</option>
                            <option value="Shree">Shree</option>
                        </select>
                        <span id="error-title" class="error"></span>
                        <span th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}"/>
                    </label>
                </p>
                <p>
                    <label class="form-input">
                        <label>First Name<span class="astrick">*</span></label>
                        <input type="text" id="fname" name="fname" th:field="*{firstName}">
                        <span id="error-fname" class="error"></span>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"/>
                    </label>

                </p>
                <p>
                    <label class="form-input ">
                        <label>Middle Name</label>
                        <input type="text" id="mname" name="mname" th:field="*{middleName}">

                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Last Name<span class="astrick">*</span></label>
                        <input type="text" id="lname" name="lname" th:field="*{lastName}">
                        <span id="error-lname" class="error"></span>
                        <span th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"/>
                    </label>

                </p>

                <p>
                    <label class="form-input w-50">
                        <label>Date of Birth<span class="astrick">*</span></label>
                        <input type="date" id="bdate" name="" placeholder="DD-MM-YYYY" th:field="*{dateOfBirth}">
                        <span id="error-bdate" class="error"></span>
                    </label>
                    </label>
                    <label class="form-input w-49">
                        <label>Gender<span class="astrick">*</span></label>
                        <select id="gender" required th:field="*{gender}">
                            <option value="" selected="">Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Prefer Not to Say">Prefer Not to Say</option>
                        </select>
                        <span id="error-gender" class="error"></span>
                    </label>

                </p>

                <p class="nxt-prev-button">
                    <button type="button" name="next" class="fs_next_btn action-button"
                            th:onclick="updateUserNameText()">Next <i class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/Personal.png" th:src="@{/img/Personal.png}" alt="SmartCorp">

            </div>
            <!-- Step 02 -->
            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>fill your personal detail</h2>
                </div>
                <p>
                    <label class="form-input " style="width: 20%;float: left;margin-right: 1%;">
                        <label>Country<span class="astrick">*</span></label>
                        <select id="countryCode" name="countryCode" class="select2" required th:field="*{countryCode}">
                            <option value="" selected="">Select</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.dialCode}" th:text="${country.dialCode}">
                            </option>
                        </select>
                        <span id="error-country_code"></span>
                    </label>
                    <label class="form-input " style="width: 79%">
                        <label>Mobile Number<span class="astrick">*</span></label>
                        <input type="text" name="phone" id="phone" th:field="*{phoneNumber}">
                        <span id="error-phone"></span>
                        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="error"
                              th:errors="*{phoneNumber}"/>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Email ID<span class="astrick">*</span></label>
                        <input type="text" name="email" id="email" th:field="*{email}">
                        <span id="error-email"></span>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <button type="button" name="sendVerification" onclick="sendVerificationEmail()">Send
                            Verification Mail<i class="fa-solid fa-chevron-right"></i></button>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Enter Verification Code<span class="astrick">*</span></label>
                        <input type="text" name="verificationCode" id="verificationCode">
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <button type="button" name="verify" id="verify" onclick="verifyEmail()">verify<i
                                class="fa-solid fa-chevron-right"></i></button>
                        <em name="invalid_token" id="invalid_token" style="color:red"></em>
                    </label>
                </p>
                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button updateUsername"
                            th:onclick="updateUserNameText()"><i class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="button" name="next" id="verify_email" class="ss_next_btn action-button updateUsername"
                            th:onclick="updateUserNameText()" disabled>Next <i
                            class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
            </div>

            <!-- Step 03 -->

            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>where are you located?</h2>
                </div>

                <p>
                    <label class="form-input">
                        <label for="country">Country<span class="astrick">*</span></label>
                        <select id="country" name="country" class="select2" required th:field="*{country}"
                                onchange="loadStates()">
                            <option value="" selected="">Select</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}" th:text="${country.name}">
                            </option>
                        </select>
                        <span id="error-country" class="error"></span>
                        <span th:if="${#fields.hasErrors('country')}" th:errorclass="error" th:errors="*{country}"/>
                    </label>
                </p>
                <p>
                    <label class="form-input state">
                        <label for="state">State<span class="astrick">*</span></label>
                        <select class="select2" id="state" name="state" th:field="*{state}" onchange="loadDistricts()">
                        </select>
                        <span id="error-state" class="error"></span>
                        <span th:if="${#fields.hasErrors('state')}" th:errorclass="error" th:errors="*{state}"/>
                    </label>

                </p>
                <p>
                    <label class="form-input district">
                        <label>District / City<span class="astrick">*</span></label>
                        <select class="select2" id="district" name="district" th:field="*{districtOrCity}"
                                onchange="loadMandals()">
                        </select>
                        <span id="error-district" class="error"></span>
                        <span th:if="${#fields.hasErrors('districtOrCity')}" th:errorclass="error"
                              th:errors="*{districtOrCity}"/>
                    </label>
                </p>
                <p>
                    <label class="form-input mandal">
                        <label>Mandal<span class="astrick">*</span></label>
                        <select class="select2" id="mandal" name="mandal" th:field="*{mandal}"
                                onchange="loadVillages()">
                        </select>
                        <span id="error-mandal" class="error"></span>
                        <span th:if="${#fields.hasErrors('mandal')}" th:errorclass="error" th:errors="*{mandal}"/>
                    </label>
                </p>
                <p>
                    <label class="form-input village">
                        <label>Village<span class="astrick">*</span></label>
                        <select class="select2" id="village" name="village" th:field="*{village}">
                        </select>
                        <span id="error-village" class="error"></span>
                        <span th:if="${#fields.hasErrors('village')}" th:errorclass="error" th:errors="*{village}"/>
                    </label>

                </p>
                <p>
                    <label class="form-input zip">
                        <label>Zip Code<span class="astrick">*</span></label>
                        <input type="text" name="zip" id="zip" th:field="*{zipCode}">
                    </label>


                </p>

                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button"
                            th:onclick="updateUserNameText()">
                        <i class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="button" name="next" class="ts_next_btn  action-button"
                            th:onclick="updateUserNameText()">
                        Next <i class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/Address.png" th:src="@{/img/Address.png}" alt="SmartCorp">
            </div>


            <!-- Step 04 -->

            <div class="multistep-box  register_as_slide">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>what is your role?</h2>
                </div>
                <p>
                    <label class="form-input">
                        <label>Register As<span class="astrick">*</span></label>
                        <label class="custom-radio">
                            <input type="radio" name="register" value="employee" id="register_as" th:field="*{role}">
                            <label>Employee</label>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="register" value="farmer" id="register_as" th:field="*{role}">
                            <label>Farmer</label>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="register" value="nursery" id="register_as" th:field="*{role}">
                            <label>Nursery</label>
                        </label>

                    </label>
                    <span id="error-register_as"></span>
                </p>
                <p class="other-input">
                    <label class="form-input ">

                        <input type="text" placeholder="Please specify your role.">

                    </label>
                </p>

                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button updateUsername"
                            th:onclick="updateUserNameText()"><i
                            class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button name="next" class="ts1_next_btn  action-button" type="button"
                            th:onclick="updateUserNameText()">Next <i
                            class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/Role.png" th:src="@{/img/Role.png}" alt="SmartCorp">
            </div>


            <!-- Step 05 for employee-->
            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>Upload Document </h2>
                </div>
                <p>
                    <label class="form-input ">
                        <label>Upload Photograph<span class="astrick">*</span></label>
                        <input type="file" name="emp_doc_photo" class="emp_doc_photo" th:ignore-validation
                               accept=".pdf,.jpg,.jpeg,.png">
                        <span class="error-emp_doc_photo"></span>
                    </label>
                </p>

                <!--  <p>
                      <label class="form-input ">
                          <label>Resume<span class="astrick">*</span></label>
                          <input type="file" name="emp_doc_resume" class="emp_doc_resume" th:ignore-validation
                                 accept=".pdf,.jpg,.jpeg,.png">
                          <span class="error_emp_doc_resume"></span>
                      </label>
                  </p>-->
                <p>
                    <label class="form-input ">
                        <label>National ID <span class="astrick">*</span></label>
                        <label class="form-input ">
                            <select id="idType" th:field="*{idType}">
                                <option selected="" value="">Select</option>
                                <option value="Adhar Card">Aadhar Card</option>
                                <option value="Pan Card">Pan Card</option>
                                <option value="Driving Licence">Driving Licence</option>
                                <option value="Voter Id">Voter Id</option>
                            </select>
                        </label>
                        <label class="form-input ">
                            <input type="file" name="emp_doc_id" class="emp_doc_id" th:ignore-validation
                                   accept=".pdf,.jpg,.jpeg,.png">
                            <span class="error_emp_doc_id"></span>
                            <label class="newinput form-input"></label>
                        </label>
                    </label>
                </p>


                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button updateUsername"
                            th:onclick="updateUserNameText()"><i class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="submit" name="next" class="ss10_next_btn action-button">Submit <i
                            class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
            </div>

            <!-- Step 05 for farmer-->
            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>Upload Document farmer </h2>
                </div>
                <p>

                    <label class="form-input ">
                        <label>Upload Photograph<span class="astrick">*</span></label>
                        <input type="file" name="fm_doc_photo" class="fm_doc_photo" th:ignore-validation
                               accept=".pdf,.jpg,.jpeg,.png">
                        <span class="error-fm_doc_photo"></span>
                    </label>
                </p>


                <p>
                    <label class="form-input ">
                        <label>National ID <span class="astrick">*</span></label>
                        <select id="idType" th:field="*{idType}">
                            <option selected="" value="">Select</option>
                            <option value="Adhar Card">Aadhar Card</option>
                            <option value="Pan Card">Pan Card</option>
                            <option value="Driving Licence">Driving Licence</option>
                            <option value="Voter Id">Voter Id</option>
                        </select>
                        <input type="file" name="fm_doc_id" class="fm_doc_id" th:ignore-validation
                               accept=".pdf,.jpg,.jpeg,.png">
                        <span class="error_fm_doc_id"></span>
                        <label class="newinput form-input"></label>
                    </label>
                </p>


                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous-farmer action-button updateUsername"
                            th:onclick="updateUserNameText()"><i class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="button" name="next" class="ss1_next_btn_farmer action-button updateUsername"
                            th:onclick="updateUserNameText()">Next <i class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
            </div>
            <!-- Step 06 for farmer-->
            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>Additional Docs </h2>
                </div>
                <p>

                    <label class="form-input ">
                        <label>PPB<span class="astrick">*</span></label>
                        <input type="file" name="ppb_doc" class="ppb_no" th:ignore-validation
                               accept=".pdf,.jpg,.jpeg,.png">
                        <span class="error_ppb_no"></span>
                        <label class="newinput form-input"></label>
                    </label>
                </p>


                <p>
                    <label class="form-input ">
                        <label>Aadhar <span class="astrick">*</span></label>
                        <input type="file" name="aadhar_doc" class="aadhar_no" th:ignore-validation
                               accept=".pdf,.jpg,.jpeg,.png">
                        <span class="error_aadhar_no"></span>
                        <label class="newinput form-input"></label>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Bank Detail <span class="astrick">*</span></label>
                        <input type="file" name="bank_detail" class="bank_detail" th:ignore-validation
                               accept=".pdf,.jpg,.jpeg,.png">
                        <span class="error_bank_detail"></span>
                    </label>
                </p>


                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button updateUsername"
                            th:onclick="updateUserNameText()"><i class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="button" name="next" class="ss2_next_btn_farmer action-button updateUsername"
                            th:onclick="updateUserNameText()">Next <i class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
            </div>
            <!-- Step 07 for farmer-->
            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>Current Crop </h2>
                </div>
                <p>

                    <label class="form-input ">
                        <label>Survey Numbers<span class="astrick">*</span></label>
                        <input type="text" name="image" class="survey_no" th:field="*{surveyNos}">
                        <span class="error_survey_no"></span>
                    </label>
                </p>


                <p>
                    <label class="form-input ">
                        <label>Name of the Crop grown <span class="astrick">*</span></label>
                        <select class="select2 crop_grown" th:field="*{currentCrop}">
                            <option selected value="">Select</option>
                            <option th:each="crop : ${crops}"
                                    th:value="${crop.name}" th:text="${crop.name}">
                            </option>
                        </select>
                        <span class="error_crop_grown"></span>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Total Land Holding <span class="astrick">*</span></label>
                        <input type="number" name="id-card-back" class="land_holding" th:field="*{totalLandHolding}">
                        <span class="error_land_holding"></span>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Net Income <span class="astrick">*</span></label>
                        <input type="number" name="net_income" class="net_income" th:field="*{netIncome}">
                        <span class="error_net_income"></span>
                    </label>
                </p>


                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button updateUsername"
                            th:onclick="updateUserNameText()"><i class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="button" name="next" class="ss3_next_btn_farmer action-button updateUsername"
                            th:onclick="updateUserNameText()">Next <i class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
            </div>


            <!-- Step 08 for farmer-->
            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>Oil palm proposed area crop details </h2>
                </div>
                <p>

                    <label class="form-input ">
                        <label>Survey Numbers<span class="astrick">*</span></label>
                        <input type="text" name="image" class="survey_no_oil" th:field="*{proposedAreaSurveyNos}">
                        <span class="error_survey_no_oil"></span>
                    </label>
                </p>


                <p>
                    <label class="form-input ">
                        <label>Proposed Area <span class="astrick">*</span></label>
                        <input type="number" name="image proposedArea" id="proposedArea" class="perposed_area"
                               th:field="*{proposedArea}">
                        <span class="error_perposed_area"></span>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Method of Plantation <span class="astrick">*</span></label>
                        <select class="select2 plantation" id="plantationType" name="plantationType"
                                th:field="*{plantationType}" onchange="populateDetails()">
                            <option selected value="">Select</option>
                            <option value="square">Square</option>
                            <option value="triangle">Triangle</option>
                        </select>
                        <span class="error_plantation"></span>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>No of Plants per Acre <span class="astrick">*</span></label>
                        <input type="number" name="plantsPerAcre" id="plantsPerAcre" class="plant_acer"
                               th:field="*{numberOfPlantsPerAcre}" readonly="readonly">
                        <span class="error_plant_acer"></span>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Total Oil Palm Plants <span class="astrick">*</span></label>
                        <input type="number" name="totalPlants" id="totalPlants" class="palm_plant"
                               th:field="*{totalPlants}" readonly="readonly">
                        <span class="error_palm_plant"></span>
                    </label>
                </p>


                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button"><i
                            class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="button" name="next" class="ss4_next_btn_farmer action-button">Next <i
                            class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
            </div>

            <!-- Step 09 for farmer-->
            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>Irrigation Details </h2>
                </div>
                <p>

                    <label class="form-input ">
                        <label>Water Source<span class="astrick">*</span></label>
                        <select class="select2 water_source" th:field="*{waterSource}">
                            <option selected disabled value="">Select</option>
                            <option value="BoreWell">Borewell</option>
                            <option value="Open Well">Open Well</option>
                            <option value="Canal">Canal</option>
                            <option value="Drip">Drip</option>
                        </select>
                        <span class="error_water_source"></span>
                    </label>
                </p>


                <p>
                    <label class="form-input ">
                        <label>Borewell wise Discharge in LPH<span class="astrick">*</span></label>
                        <input type="text" name="image" class="boreweel" th:field="*{normalDischarge}">
                        <span class="error_boreweel"></span>
                    </label>
                </p>

                <p>
                    <label class="form-input ">
                        <label>Discharge during summer months <span class="astrick">*</span></label>
                        <input type="text" name="id-card-back" class="discharge" th:field="*{summerDischarge}">
                        <span class="error_discharge"></span>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Borewell location <span class="astrick">*</span></label>
                        <input type="text" name="id-card-back" class="bore_location" th:field="*{location}">
                        <span class="error_bore_location"></span>
                    </label>
                </p>


                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button updateUsername"
                            th:onclick="updateUserNameText()"><i class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="button" name="next" class="ss5_next_btn_farmer action-button updateUsername"
                            th:onclick="updateUserNameText()">Next <i class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
            </div>

            <!-- Step 10 for farmer-->
            <div class="multistep-box">
                <div class="title-box">
                    <h3>Hey <em class="usernameTextSpan"></em>, great to have you here!</h3>
                    <h2>Bank Details </h2>
                </div>


                <p>
                    <label class="form-input ">
                        <label>Bank Name<span class="astrick">*</span></label>
                        <input type="text" name="image" class="bank_name" th:field="*{bankName}">
                        <span class="error_bank_name"></span>
                    </label>
                </p>

                <p>
                    <label class="form-input ">
                        <label>Account Number <span class="astrick">*</span></label>
                        <input type="number" name="id-card-back" class="acc_number" th:field="*{accountNumber}">
                        <span class="error_acc_number"></span>
                    </label>
                </p>
                <p>
                    <label class="form-input ">
                        <label>Branch name <span class="astrick">*</span></label>
                        <input type="text" name="id-card-back" class="branch_name" th:field="*{branchName}">
                        <span class="error_branch_name"></span>
                    </label>
                </p>

                <p>
                    <label class="form-input ">
                        <label>IFSC Code <span class="astrick">*</span></label>
                        <input type="text" name="id-card-back" class="ifsc_code" th:field="*{ifscCode}">
                        <span class="error_ifsc_code"></span>
                    </label>
                </p>


                <p class="nxt-prev-button">
                    <button type="button" name="previous" class="previous action-button updateUsername"
                            th:onclick="updateUserNameText()"><i class="fa-solid fa-chevron-left"></i>Back
                    </button>
                    <button type="submit" name="next" class="ss6_next_btn_farmer action-button">Submit <i
                            class="fa-solid fa-chevron-right"></i></button>
                </p>
                <img class="form-image" src="assets/img/email.png" th:src="@{/img/email.png}" alt="SmartCorp">
            </div>
        </div>
        <!-- Step 06 -->

        <div class="multistep-box final_slide" th:if="${userAdded != null && userAdded}">
            <div class="title-box" style="margin-bottom: 15px;">

                <h2>your application has been submitted successfully</h2>
            </div>
            <p class="last-step">
                <span>Your application sent for the review,<br> you will be notified via email.</span>
                <a href="/" th:href="@{/}">Go to Home</a>

                <!-- <h4 class="last-box">
                    <label>Didn’t receive it?</label>
                    <label>Please check your spam mail or <a href="#"> resend email</a></label>

                </h4> -->


            </p>


            <img class="form-image" src="assets/img/Successs.png" th:src="@{/img/Successs.png}" alt="SmartCorp">
        </div>
    </form>
    <h1>You are successfully logged in</h1>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.0/jquery.easing.js"
        type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.tutorialjinni.com/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script type="text/javascript " src="assets/js/form.js" th:src="@{/js/form.js}"></script>
<!--
<script th:inline="javascript">
        var stateDistrictList = /*[[${stateDistrictList}]]*/ {};

</script>
<script type="text/javascript " src="assets/js/registration.js" th:src="@{/js/registration.js}"></script>
-->

<script th:inline="javascript">

 $('document').ready(function() {
  console.log("i'm ready");
  $('.select2').select2();

  checkIfEmployeeRegistrationComplete = function() {
    let employeeAdded = "[[${employeeAdded}]]";
    if(employeeAdded && employeeAdded !== "null") {
        console.log("employee added successfully");
         $('#employeeAdded-draft').modal('show');
      }
 };
 checkIfEmployeeRegistrationComplete();
});

  var input = document.querySelector("#country_code");
   window.intlTelInput(input, {
    // show dial codes too
    separateDialCode: true,
    preferredCountries: ["in", "au"]

});

 function updateUserNameText() {
    let firstName = $("#fname").val();
    let lastName = $("#lname").val();
    $(".usernameTextSpan").text(firstName + " " + lastName);
 };


  $('#multistep_form').validate({
    rules:{
      name:{
          required:true
      },
      gender:"required",
      email:{
        required:true,
        email:true
      },
      contact:{
        required:true,
        minlength:10,
        maxlength:10,
        digits: true,
      },
      zipCode:{
        required:true

      },

      state:"required",
      district:"required",
      city:"required",
      country:"required",

      designation:"required"

    },
    messages:{

    }
  });

function verifyEmail(){
    var email = $("#email").val();
    var verificationCode = $("#verificationCode").val();
    document.getElementById("invalid_token").innerHTML ="";
    if(email !== ""){
      $.get("/confirmEmail/verify?email="+email+"&token="+verificationCode, function(data){
        if(JSON.stringify(data)=='true'){
            document.getElementById("verify_email").disabled=false;
        } else{
            document.getElementById("invalid_token").innerHTML = "Invalid token, please verify again and proceed";
        }
      });
   }
};
function sendVerificationEmail(){
    var email = $("#email").val();
    var name = $("#fname").val();
    document.getElementById("invalid_token").innerHTML ="";
    if(email !== ""){
        $.post("/confirmEmail/sendMailVerificationMail?email="+email+"&name="+name, function(data){
        });
    }
};
function loadStates(){
    var countryId = $("#country").val();
    $("#state").empty();
    $("#district").empty();
    $("#mandal").empty();
    $("#village").empty();

    if(countryId !== ""){
        $.get("/dropdown/states?countryId="+countryId, function(data){
         $("#state").append("<option value=''>Select</option>");
            $.each(data, function(index, state) {
                $("#state").append("<option value='"+state.id+"'+>"+state.name+"</option>")
            });
        });
    }
};

function loadDistricts(){
    var stateId = $("#state").val();
    $("#district").empty();
    $("#mandal").empty();
    $("#village").empty();

    if(stateId !== ""){
        $.get("/dropdown/districts?stateId="+stateId, function(data){
        if(data.length === 0){
                 $('.zip').fadeIn();
                  //$('.district').fadeOut();
                 $('.mandal').fadeOut();
                 $('.village').fadeOut();
            }
             $("#district").append("<option value=''>Select</option>");
            $.each(data, function(index, district) {
                $("#district").append("<option value='"+district.id+"'+>"+district.name+"</option>");
            });
        });
    }
};

function loadMandals(){
    var districtId = $("#district").val();
     $("#mandal").empty();
     $("#village").empty();

    if(districtId !== ""){
        $.get("/dropdown/mandals?districtId="+districtId, function(data){
            if(data.length === 0){
                 $('.zip').fadeIn();
                 $('.mandal').fadeOut();
                 $('.village').fadeOut();
            }
             $("#mandal").append("<option value=''>Select</option>");
            $.each(data, function(index, mandal) {
                $("#mandal").append("<option value='"+mandal.id+"'+>"+mandal.name+"</option>")
            });
        });
    }
};

function loadVillages(){
    var mandalId = $("#mandal").val();
    $("#village").empty();

    if(mandalId !== ""){
        $.get("/dropdown/villages?mandalId="+mandalId, function(data){
            if(data.length === 0){
                $('.zip').fadeIn();
                $('.village').fadeOut();
            }
             $("#village").append("<option value=''>Select</option>");
            $.each(data, function(index, village) {
                $("#village").append("<option value='"+village.id+"'+>"+village.name+"</option>")
            });
        });
    }
};

function populateDetails(){
     var plantationType = $("#plantationType").val();
     $("plantsPerAcre").empty();
     $("totalPlants").empty();
     if(plantationType === 'square'){
        $("#plantsPerAcre").val(50);
        var proposedLand = $("#proposedArea").val()
        $("#totalPlants").val(Math.ceil(50*proposedLand));
     }
     if(plantationType === 'triangle'){
        $("#plantsPerAcre").val(57);
        var proposedLand = $("#proposedArea").val()
        $("#totalPlants").val(Math.ceil(57*proposedLand));
     }

  };



</script>
<script>

</script>
</body>
</html>