<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SmartCorp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
  
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"> 

 
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/all.min.css" rel="stylesheet">
  <link href="assets/css/aos.css" rel="stylesheet">
  <link href="assets/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/css/swiper-bundle.min.css" rel="stylesheet">

 
  <link href="assets/css/main.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/b3be0b1cb8.js" crossorigin="anonymous"></script>
</head>

<body>

<section class="register-page">
  <div class="register-logo">
     <img src="assets/img/logo.png" alt="SmartCorp">
     <h3>Nursery Onboarding</h3>
  </div>


    <div class="register-progress">
    <div class="progress-bar " role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="register-form">
 <fieldset>

      <div class="form-field">
        <h2>Nursery Information</h2>
         <div class="back-to-login">
          <p>Already have an account?<a href="login.html"> Login</a> </p>
        </div>
        <div class="form-input">
          <label>Nursery Name</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label>Nursery Code</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label>Email</label>
          <input type="email" name="">
        </div>
        <div class="form-input">
          <label>Contact No.</label>
          <input type="number" name="">
        </div>
         </div>
         <div class="content-field">
           
           <img src="assets/img/why.jpg" style="border-radius: 15px;max-width: 80%;margin:auto;margin-top: 75px;">
         </div>
              <button class="next action-button">Next <i class="fa-solid fa-chevron-right"></i></button>

     
    

 </fieldset>
  <fieldset>

      <div class="form-field">
        <h2>Nursery Address</h2>
        <div class="form-input">
          <label>Address</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label>State</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label>District</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label>Mandal</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label> Nursery Village</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label> Country</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label> Pincode</label>
          <input type="text" name="">
        </div>
       
         </div>
         <div class="content-field">
           
           <img src="assets/img/why.jpg" style="border-radius: 15px;max-width: 80%;margin:auto;margin-top: 175px;">
         </div>
       <button class="next action-button">Next <i class="fa-solid fa-chevron-right"></i></button>
        <button class="previous action-button-previous"><i class="fa-solid fa-chevron-left"></i>Back</button>
     
    

 </fieldset>
 <fieldset>

      <div class="form-field">
        <h2>Crop Detail</h2>
        <div class="form-input">
          <label>Crop Name</label>
          <select>
            <option value="PALM_OIL" data-select2-id="22">OIL PALM</option>
            <option value="MANGO" data-select2-id="23">MANGO</option>
            
          </select>
         
        </div>
        <div class="form-input">
          <label>Total Nursery Area</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label>Nursery Image</label>
          <input type="file" name="">
        </div>
       
       
         </div>
         <div class="content-field">
           
           <img src="assets/img/why.jpg" style="border-radius: 15px;max-width: 80%;margin:auto;margin-top: 30px;">
         </div>
        <button class="next action-button">Next <i class="fa-solid fa-chevron-right"></i></button>
        <button class="previous action-button-previous"><i class="fa-solid fa-chevron-left"></i>Back</button>
     
    

 </fieldset>
 <fieldset>

      <div class="form-field">
        <h2>Owner Information</h2>
        <div class="form-input">
          <label>Owner Name</label>
          <input type="text" name="">
         
        </div>
        <div class="form-input">
          <label>Emp ID No.</label>
          <input type="text" name="">
        </div>
        <div class="form-input">
          <label>Email</label>
          <input type="email" name="">
        </div>
         <div class="form-input">
          <label>Contact No.</label>
          <input type="number" name="">
        </div>
         <div class="form-input">
          
          <input type="Checkbox" name="" style="width: auto;height: auto;"> I agree to the <a href="#">Terms of Use.</a>
        </div>
       
       
         </div>
         <div class="content-field">
           
           <img src="assets/img/why.jpg" style="border-radius: 15px;max-width: 80%;margin:auto;margin-top: 127px;">
         </div>
        <input type="button" name="next" class="save-draft  action-button" value="Submit"  data-bs-toggle="modal" data-bs-target="#submit-draft" style="width: 50%;margin-left: 0px;" />


        <button class="previous action-button-previous"><i class="fa-solid fa-chevron-left"></i>Back</button>
      
     
    

 </fieldset>



  </div>
 
  

</section>
<div class="modal fade" id="submit-draft" tabindex="-1" aria-labelledby="save-draft" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><img src="assets/img/logo.png" alt="SmartCorp"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="assets/img/success.png" alt="SmartCorp">
        <h4>application submitted successsfully</h4>
      </div>
     
    </div>
  </div>
</div>

 <!--  <div id="preloader"></div> -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
 
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script src="assets/js/glightbox.min.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/purecounter_vanilla.js"></script>

  
  <script src="assets/js/main.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function(){

var current_fs, next_fs, previous_fs; //fieldsets
var opacity;
var current = 1;
var steps = jQuery("fieldset").length;

setProgressBar(current);

jQuery(".next").click(function(){

current_fs = jQuery(this).parent();
next_fs = jQuery(this).parent().next();

//Add Class Active
jQuery("#progressbar li").eq(jQuery("fieldset").index(next_fs)).addClass("active");

//show the next fieldset
next_fs.show();
//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now) {
// for making fielset appear animation
 opacity = 1 - now;

current_fs.css({
'display': 'none',
// 'position': 'relative'
});
next_fs.css({'opacity': opacity});
},
duration: 500
});
setProgressBar(++current);
});

jQuery(".previous").click(function(){

current_fs = jQuery(this).parent();
previous_fs = jQuery(this).parent().prev();

//Remove class active
jQuery("#progressbar li").eq(jQuery("fieldset").index(current_fs)).removeClass("active");

//show the previous fieldset
previous_fs.show();

//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now) {
// for making fielset appear animation
 opacity = 1 - now;

current_fs.css({
'display': 'none',
// 'position': 'relative'
});
previous_fs.css({'opacity': opacity});
},
duration: 500
});
setProgressBar(--current);
});

function setProgressBar(curStep){
var percent = parseFloat(100 / steps) * curStep;
percent = percent.toFixed();
jQuery(".progress-bar")
.css("width",percent+"%")
}

jQuery(".submit").click(function(){
return false;
})

});
  </script>



</body>

</html>